<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <meta name="description" content="Tiger Ji's Word Hunt Solver">
	    <meta name="keywords" content="Tiger Ji, Word Hunt Solver">
        <title> Tiger Ji's Word Hunt Solver </title>
        <link rel="stylesheet" href="static/app.css">
        <script src="static/app.js"></script>
    </head>

    <body>
        <h1> WORD HUNT SOLVER </h1>
        <h3 id="statistics"> </h3>

        <main>
            <form>
                <div id="word-hunt-board"> 
                    <input id="0" name="0" class="letter-box" placeholder="" maxlength="1">
                    <input id="1" name="1" class="letter-box" placeholder="" maxlength="1">
                    <input id="2" name="2" class="letter-box" placeholder="" maxlength="1">
                    <input id="3" name="3" class="letter-box" placeholder="" maxlength="1">

                    <input id="4" name="4" class="letter-box" placeholder="" maxlength="1">
                    <input id="5" name="5" class="letter-box" placeholder="" maxlength="1">
                    <input id="6" name="6" class="letter-box" placeholder="" maxlength="1">
                    <input id="7" name="7" class="letter-box" placeholder="" maxlength="1">

                    <input id="8" name="8" class="letter-box" placeholder="" maxlength="1">
                    <input id="9" name="9" class="letter-box" placeholder="" maxlength="1">
                    <input id="10" name="10" class="letter-box" placeholder="" maxlength="1">
                    <input id="11" name="11" class="letter-box" placeholder="" maxlength="1">

                    <input id="12" name="12" class="letter-box" placeholder="" maxlength="1">
                    <input id="13" name="13" class="letter-box" placeholder="" maxlength="1">
                    <input id="14" name="14" class="letter-box" placeholder="" maxlength="1">
                    <input id="15" name="15" class="letter-box" placeholder="" maxlength="1">
                </div>

                <div id="buttons">
                    <button id="clear-button" type="button" onclick="clearBoard()">
                        Clear Board
                    </button>    
                    <button id="solve-button" type="button" onclick="solveBoard()">
                        Solve!
                    </button> 
                </div>
            </form>
            <div id="solutions" class="hidden"> </div>
        </main>
                    
        <footer>
            <p id="outro"> 
                <a href="https://github.com/taiga-forestry"> taiga-forestry ♮ Tiger Ji ♮ tiger_ji@brown.edu </a>
            </p>
        </footer>
    </body>
</html>
